# Dirección del contrato EuroToken (EURT)
NEXT_PUBLIC_EUROTOKEN_ADDRESS=0x...

# Dirección del contrato EcommerceMain (para llamar processPayment)
NEXT_PUBLIC_ECOMMERCE_ADDRESS=0x...

# Dirección del contrato PaymentGateway (para el approve de tokens)
NEXT_PUBLIC_PAYMENT_GATEWAY_ADDRESS=0x...

# URL del nodo Ethereum local
NEXT_PUBLIC_RPC_URL=http://localhost:8545
