NEXT_PUBLIC_CHAIN_ID=31337
NEXT_PUBLIC_RPC_URL=http://localhost:8545
NEXT_PUBLIC_ECOMMERCE_MAIN_ADDRESS=0x...
NEXT_PUBLIC_EURO_TOKEN_ADDRESS=0x...
NEXT_PUBLIC_PAYMENT_GATEWAY_URL=http://localhost:6002
